/* Propiedades Personalizadas */
:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

/* Globales */
html {
    font-size: 62.5%; /* 1rem = 100px */
    box-sizing: border-box; /* Box Model */
}
*, *:before, *:after { /* Box Model */
    box-sizing: inherit; 
  }
body {
    font-size: 16px; /* 1rem = 100px */
    font-family: 'PT Sans', sans-serif; /* Fuente */
}
.contenedor { /* Barra que contiene la navegación principal */
    max-width: 120rem; /* Tamaño maximo de la barra */
    margin: 0 auto; /* Acomodar Texto */
}
.boton {
    background-color: var(--secundario); /* Color de fondo */
    color: var(--blanco); /* Color de la fuente */
    padding: 1rem 3rem; /* Separación del texto */
    margin-top: 1rem; /* Separación con el elemento anterior */
    font-size: 2rem; /* Tamaño de la fuente */
    text-decoration: none; /* Quitar la linea inferior del link */
    text-transform: uppercase; /* Convertir a Mayusculas */
    font-weight: bold; /* Negrita */
    border-radius: .5rem; /* Redondear bordes */
    width: 80%; /* Tamaño del boton */
    text-align: center; /* Alinear texto al centro */
}
@media (min-width: 480px) { /* Hacer el boton mas pequeño para pantallas de 480px en adelante */ 
    .boton {
        width: auto;
    }
}

/* Tipografia */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1, h2, h3 {
    text-align: center; /* Alinear texto al centro */
}

/* Titulos */
.titulo span { /* Hacer pequeña la palabra Freelancer */
    font-size: 2rem;
}

/* Navegación */
.nav-fondo {
    background-color: var(--secundario); /* Color de fondo */
}
.navegacion-principal { /* Alineación de la barra de navegación principal */
    display: flex; 
    flex-direction: column; /* Alinear los elementos uno debajo del otro */
}
@media (min-width: 768px) { /* Cambiar la distribución de las pestañas a fila en las pantallas de 768px en adelante */
    .navegacion-principal {
        flex-direction: row; /* Alinear los elementos uno al lado del otro */
        justify-content: space-between; /* Separar los elementos a partir del limite maximo en el contenedor */
    }
}
.navegacion-principal a { /* Estilo de las pestañas */
    display: block; /* Alinear los elementos uno debajo del otro */
    text-align: center; /* Alinear texto al centro */
    color: var(--blanco); /* Color de la fuente */
    text-decoration: none; /* Quitar la linea inferior del link */
    font-size: 2rem; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    padding: 1rem; /* Separación del texto */
}
.navegacion-principal a:hover { /* Cambiar el color de la pestaña al pasar el mouse por encima */
    background-color: var(--primario); /* Color de fondo */
    color: var(--oscuro); /* Color de la fuente */
}

/* Hero */
.hero { 
    background-image: url(../img/hero.jpg); /* Imagen de fondo */
    background-repeat: no-repeat; /* No repetir la imagen en pantallas grandes */
    background-size: cover; /* Ajustar la imagen al tamaño de la pantalla */
    height: 450px; /* Altura de la imagen */
    position: relative; /* Posicionar el contenido en la imagen */
}
.contenido-hero {
    position: absolute; /* Posicionar el contenido en la imagen */
    background-color: rgba(0, 0, 0, 0.75); /* Color superpuesto 1 */
    background-color: rgb(0 0 0 / 75%); /* Color superpuesto 2 */
    width: 100%; /* Tamaño del contenido */
    height: 100%; /* Altura del contenido */

    /* Alineación Vertical */
    display: flex; 
    flex-direction: column; /* Alinear los elementos uno debajo del otro */
    align-items: center; /* Alinear los elementos al centro */
    justify-content: center; /* Separar los elementos a partir del limite maximo en el contenedor */
}
.contenido-hero h2, .contenido-hero p { /* Estilo del texto */
    color: var(--blanco); /* Color de la fuente */
}

